[Desktop Entry]
Name=dwl
Comment=dwm for Wayland
Exec=env XDG_CURRENT_DESKTOP=sway XDG_SESSION_DESKTOP=sway XDG_SESSION_TYPE=wayland dwl
Type=Application
